body{
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg,#ecffff,#f6ffff,#ffffff);
  margin:0;
  text-align:center;
  color:#003333;
}

.contenedor{
  max-width:600px;
  margin:40px auto;
  padding:20px;
}

h1{font-size:32px;margin-bottom:5px;}
.sub{opacity:0.7;}

.card{
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  margin:20px 0;
}

button{
  display:block;
  width:100%;
  margin:10px 0;
  padding:14px;
  border:none;
  border-radius:8px;
  background:linear-gradient(90deg,#00ffd5,#00cfcf);
  font-weight:bold;
  cursor:pointer;
  transition:0.2s;
}

button:hover{transform:scale(1.03);}